<!DOCTYPE html>
<html>

<head>
  <title>Homepage</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../stylesheets/main.css">
  <link rel="stylesheet" type="text/css" href="../stylesheets/custom.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700|Roboto:300,400,500" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
<nav class="navbar navbar-expand-md fixed-top-sm justify-content-start flex-nowrap bg-light navbar-light">
  <a href="/" class="navbar-brand">Logo</a>
  
  <!--SIGN UP / LOGIN BUTTON-->
  <% if(!currentUser) { %>
  <div class="btn btn-outline-primary ml-auto d-none d-sm-block">
    <a href="#0" class="js-cd-panel-trigger" data-panel="main"><i class="far fa-user-circle"></i> Sign Up / Login</a>
    </div>
    <% } %>
      <% if(currentUser) { %>
      <div class="ml-auto">
      <form class="form-inline d-none d-md-block">
          <a href="#0" class="js-cd-panel-trigger" data-panel="main">
            <button class="btn btn-outline-primary ml-auto">Favorites &nbsp;
              <span class="badge badge-secondary"><%= currentUser.lovedRecipes.length %></span>
            </button>
          </a>
          <a href="/recipes/new">
             <div class="btn btn-outline-primary ml-4">Post A Recipe</div>
            </a>
      </form>
      </div>
  <% } %>  
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbar2">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
<nav class="navbar navbar-expand-md bg-light navbar-light">
    <div class="navbar-collapse collapse pt-2 pt-md-0" id="navbar2"> 
      <ul class="navbar-nav">
        <li class="nav-item">
          <form action="/s" class="form-inline" method="GET">
            <div class="input-group">
            <div id="input_container">
              <input class="form-control" id="searchbar" name="search" type="search" placeholder="Search Recipes " aria-label="Search">
              <i class="fa fa-search search-icon"></i>
            </div>

              <div class="input-group-append">
                <button class="btn btn-outline-secondary" value="Search" type="submit">Search</button>
              </div>
            </div>
          </form>
        </li>
        <li class="nav-item dropdown megamenu-li">
         <a class="nav-link btn btn-outline-primary dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
         <div class="dropdown-menu megamenu bg-light border border-secondary" aria-labelledby="dropdown01">
          <div class="row">
           <div class="col-sm-6 col-lg-3 mb-2">
            <h5>Diet Type</h5>
            <a class="dropdown-item" href="/categories/vegetarian">Vegetarian</a>
            <a class="dropdown-item" href="/categories/vegan">Vegan</a>
            <a class="dropdown-item" href="/categories/gluten-free">Gluten-Free</a>
           </div>
           <div class="col-sm-6 col-lg-3 mb-2">
            <h5>Time of Day</h5>
            <a class="dropdown-item" href="/categories/breakfast">Breakfast</a>
            <a class="dropdown-item" href="/categories/lunch">Lunch</a>
            <a class="dropdown-item" href="/categories/dinner">Dinner</a>
           </div>
           <div class="col-sm-6 col-lg-3 mb-2">
            <h5>Difficulty</h5>
            <a class="dropdown-item" href="/categories/breakfast">Beginner</a>
            <a class="dropdown-item" href="/categories/lunch">Medium</a>
            <a class="dropdown-item" href="/categories/dinner">Challenging</a>
           </div>
           <div class="col-sm-6 col-lg-3 mb-2">
            <h5>Kitchen Time</h5>
            <a class="dropdown-item" href="/categories/breakfast">Quick <span class="small">(10 minutes or less)</span></a>
             <a class="dropdown-item" href="/categories/lunch">Medium <span class="small">(11-44 minutes)</span></a>
             <a class="dropdown-item" href="/categories/dinner">Long <span class="small">(> 45 minutes)</span></a>
           </div>
          </div>
           <hr>
           <div class="row">
             <div class="col-sm-6 col-lg-3 mb-2">Column 1</div>
             <div class="col-sm-6 col-lg-3 mb-2">Column 2</div>
             <div class="col-sm-6 col-lg-3 mb-2">Column 3</div>
             <div class="col-sm-6 col-lg-3 mb-2">Column 4</div>
           </div>
         </div>
        </li>
      </ul>
</div>
</nav>


  <div class="container">
    <div class="row">
      <div class="col-md-12 m-2">
        <div class="alert-container">
        <% if(error && error.length > 0) { %>
          <div class="alert alert-danger m-0 p-1 w-100" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">x</button>
            <p class="mb-0 text-center">
              <%= error %>
            </p>
          </div>
          <% } %>
            <% if(error && success.length > 0) { %>
              <div class="alert alert-success m-0 p-1 w-100" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">x</button>
                <p class="mb-0 text-center">
                  <%= success %>
                </p>
              </div>
            <% } %>
        </div>
      </div>
    </div>
  </div>
  <!--END OF (SECONDARY NAV)-->

  <!--SLIDING MENU BAR-->
  <!--NO CURRENT USER - SIGN UP SLIDEOUT-->
  <%if(!currentUser) { %>
    <div class="cd-panel cd-panel--from-right js-cd-panel-main">
      <div class="container">
        <header class="cd-panel__header">
          <!--Create Account / Login Buttons-->
          <div class="container">
            <div class="row text-center">
              <div class="col-6 accountToggleButton">
                <h1>Sign Up</h1>
              </div>
              <div class="col-6 accountToggleButton">
                <h1>Login</h1>
              </div>
            </div>
            <a href="#0" class="cd-panel__close js-cd-close">Close</a>
          </div>
        </header>
      </div>
      <div class="cd-panel__container">
        <div class="cd-panel__content">

          <!--SIGN UP FORM-->
          <div class="accountToggleContainer">
            <h4 class="text-center font-weight-bold text-primary">Sign Up</h4>
            <div class="dropdown-divider"></div>
            <form action="/register" method="POST">
              <div class="form-group text-dark"> <label>Username</label>
                <input type="text text-dark" name="screenName" class="form-control" placeholder="different from email" minlength="4" maxlength="20" , required>
              </div>
              <div class="form-group text-dark" required><label>Email address</label>
                <input type="email" name="username" class="form-control text-dark" placeholder="your.email@abc123.com" required>
              </div>
              <div class="form-group text-dark"> <label>Password</label>
                <input type="password" name="password" class="form-control" placeholder="Password" autocomplete=off>
              </div>
              <div class="form-group avatars text-dark"> <label>Choose an Avatar</label>
                <div class="btn-group btn-group-toggle row" data-toggle="buttons">
                  <div class="col-xs-1">
                    <label class="btn avatar">
                    <input type="radio" name="avatar" value="😛" autocomplete="off">😛
                  </label>
                  </div>
                  <div class="col-xs-1">
                    <label class="btn avatar">
                    <input type="radio" name="avatar" value="😎" autocomplete="off">😎
                    </label>
                  </div>
                  <div class="col-xs-1">
                    <label class="btn avatar">
                    <input type="radio" name="avatar" value="🍉" autocomplete="off">🍉
                  </label>
                  </div>
                  <div class="col-xs-1">
                    <label class="btn avatar">
                    <input type="radio" name="avatar" value="🌶" autocomplete="off">🌶
                  </label>
                  </div>
                  <div class="col-xs-1">
                    <label class="btn avatar">
                    <input type="radio" name="avatar" value="🍅" autocomplete="off">🍅
                  </label>
                  </div>
                  <div class="col-xs-1">
                    <label class="btn avatar">
                    <input type="radio" name="avatar" value="🍍" autocomplete="off">🍍
                  </label>
                  </div>
                  <div class="col-xs-1">
                    <label class="btn avatar">
                    <input type="radio" name="avatar" value="🍄" autocomplete="off">🍄
                  </label>
                  </div>
                  <div class="col-xs-1">
                    <label class="btn avatar">
                    <input type="radio" name="avatar" value="🍲" autocomplete="off">🍲
                  </label>
                  </div>
                  <div class="col-xs-1">
                    <label class="btn avatar">
                    <input type="radio" name="avatar" value="☕" autocomplete="off">☕
                  </label>
                  </div>
                  <div class="col-xs-1">
                    <label class="btn avatar">
                    <input type="radio" name="avatar" value="🍜" autocomplete="off">🍜
                  </label>
                  </div>
                  <div class="col-xs-1">
                    <label class="btn avatar">
                    <input type="radio" name="avatar" value="🍷" autocomplete="off">🍷
                    </label>
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-secondary btn-block btn-lg my-2"><b>Create Account</b></button>
            </form>
          </div>

          <!--LOGIN FORM:-->
          <div class="accountToggleContainer" style="display: none">
            <h4 class="text-center font-weight-bold text-primary">Login</h4>
            <div class="dropdown-divider"></div>
            <form class="px-1 py-2" action="/login" method="POST">
              <div class="form-group">
                <label for="nav-dropdown-email">Email</label>
                <input type="email" class="form-control" id="nav-dropdown-email" name="username" placeholder="youremail@gmail.com" required>
              </div>
              <div class="form-group">
                <label for="nav-dropdown-password">Password</label>
                <input type="password" class="form-control" id="nav-dropdown-password" name="password" placeholder="Password" autocomplete=off required>
              </div>
              <div class="w-100">
                <button type="submit" class="btn btn-secondary btn-block btn-lg my-2"><b>Sign In</b></button>
              </div>
            </form>
            <div class="small">
              <p class="text-center">Don't have an account? <b><a href="/register">Create Profile</a></b></p>
              <p class="text-center">Forgot your password? <b><a href="/forgot">Reset Password</a></b></p>
            </div>
            <div class="dropdown-divider"></div>
          </div>
        </div>
      </div>
    </div>
  <% } %>
  <!-- cd-panel -->

    <!--CURRENT USER - Recipe Book-->
    <%if(currentUser) { %>
      <div class="cd-panel cd-panel--from-right js-cd-panel-main container">
        <!--Top Header Container-->
        <div class="row">
          <header class="cd-panel__header container">
            <!--Top Header-->
              <div class="col-12 text-center">
                <h1>Favorite Recipes</h1>
              </div>
              <a href="#0" class="cd-panel__close js-cd-close">Close</a>
          </header>
        </div>

          <div class="cd-panel__container">
            <div class="cd-panel__content">
                <div class="row">
                    <div class="col-12">
                        <div class="container">
                                  <div class="row">
                                  <% if(currentUser.lovedRecipes.length === 0) { %>
                                  <p>You have not favorited any recipes yet! Click the <span><i class="fas fa-heart"></i></span> icon to favorite a recipe.</p>
                                    <% } %>
                                  <% if(currentUser.lovedRecipes.length > 0) { %>
                                  <% for(var i = 0; i < currentUser.lovedRecipes.length; i++) { %>
                                      <div class="col-xs-12 col-sm-6 mb-3">
                                          <div class="card card-light w-100">
                                            <div class="img-container">
                                              <img class="card-img-top smallImageSlideout" src="<%= currentUser.lovedRecipes[i].image %>">
                                              <div class="recipeBookButton text-center">
                                                <form action="/recipes/<%=currentUser.lovedRecipes[i]._id %>/love?_method=DELETE" method="POST">
                                                  <button type="submit" class="btn rounded-circle like-btn-homepage">
                                                  <i class="fas fa-heart-broken"></i>
                                                  </button>
                                                </form>
                                            </div>
                                              </div>
                                              <div class="card-body smallImageSlideoutBody px-1 py-2 text-center">
                                                  <h5 class="card-title"><%= currentUser.lovedRecipes[i].title %></h5>
                                                  <h6 class="card-subtitle mb-2 text-muted"><i class="far fa-clock"></i>&nbsp;<%= currentUser.lovedRecipes[i].totalTime %> minutes</h6>
                                                    <form action="/recipes/<%= currentUser.lovedRecipes[i]._id %>" method="GET">
                                                      <button class="btn btn-outline-primary text-center btn-block recipe-view-button my-1">View</button>
                                                    </form>
                                              </div>
                                          </div>
                                      </div>
                                  <% } %>
                                  <% } %>
                                  </div>
                              </div>
                    </div>
                </div>
                <div class="row" id="invisible-sliding-footer"></div>
            <!--Sliding Menu Footer-->
              <div class="slider-footer-container">
                <div class="slider-footer-contents container">
                  <div class="row">
                    <div class="col-12">
                      <a href="/logout" class="btn btn-outline-danger btn-block btn-lg my-2">Logout</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
      </div>
    <% } %>
    <main role="main" class="container mt-3">