<% include ../partials/header %>

    <div class="container-fluid p-0">
        <div class="row">     
            <div class="col">
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="favorites-tab" data-toggle="tab" href="#favorites" role="tab" aria-controls="home" aria-selected="true">Favorites</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="recipes-tab" data-toggle="tab" href="#recipes" role="tab" aria-controls="profile" aria-selected="false">Recipes</a>
                </li>
                <% if(currentUser && foundUser._id.equals(currentUser._id)){ %>
                <li class="nav-item">
                  <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Settings</a>
                </li>
                <% } %>
              </ul>
              <div class="tab-content pt-4" id="myTabContent">
                <div class="tab-pane fade show active" id="favorites" role="tabpanel" aria-labelledby="favorites-tab">
                  <div class="card-deck">
                      <% var favoriteRecipeCount = 0; %>
                      <% if(foundUser.lovedRecipes.length < 6) { %>
                         <% var favoriteRecipesLength = foundUser.lovedRecipes.length  %>
                          <% var favoriteRecipes = foundUser.lovedRecipes %>
                      <% } else { %>
                      <% var favoriteRecipesLength = 6 %>
                      <% } %>
                          <% while((favoriteRecipeCount < favoriteRecipesLength)) { %>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-3 p-0 recipe-card">
                              <div class="card">
                                <div class="card-block">
                                  <div class="img-container">
                                    <a href="/recipes/<%= favoriteRecipes[favoriteRecipeCount].id%>">

                  <% if(currentUser && foundUser._id.equals(currentUser._id)){ %>
                   <div class="recipeBookButton text-center">
                      <form action="/recipes/<%=favoriteRecipes[favoriteRecipeCount].id%>/love" method="POST">
                     <button type="submit" class="btn rounded-circle like-btn-homepage">
                     <i class="fas fa-heart-broken"></i></button>
                     </form>
                   </div>
                  <% } else { %>      
                  <!--If user profile doesn't belong to current user-->
                    <div class="recipeBookButton text-center">
                      <form action="/recipes/<%=favoriteRecipes[favoriteRecipeCount].id%>/love" method="POST">
                            <button class="btn rounded-circle ajax-trigger-love like-btn-homepage" data-recipe-id="<%=favoriteRecipes[favoriteRecipeCount].id%>">
                                <i class="fas fa-heart"></i>
                              </button>
                      </form>
                    </div>
                          <% } %>            
                                      <img class="img-fluid recipe-index-image" src="<%= favoriteRecipes[favoriteRecipeCount].image %>">
                                      <!--To Make Button Block-->
                                    </a>
                                  </div>

                                  <a href="/recipes/<%= favoriteRecipes[favoriteRecipeCount]._id%>">
                                    <div class="card-body text-center visibile-recipe-info p-1 mt-1">
                                      <h3 class="card-title mb-1">
                                        <%= favoriteRecipes[favoriteRecipeCount].title %>
                                      </h3>
                                  <% if (favoriteRecipes[favoriteRecipeCount].rating > 0) { %>
                                  <p class="card-text text-muted">
                                    <small>
                                      <span class="fa fa-star checked"></span>
                                      <span class="fa fa-star <% if (favoriteRecipes[favoriteRecipeCount].rating > 1.5) { %> checked <% } %>"></span>
                                      <span class="fa fa-star <% if (favoriteRecipes[favoriteRecipeCount].rating > 2.5) { %> checked <% } %>"></span>
                                      <span class="fa fa-star <% if (favoriteRecipes[favoriteRecipeCount].rating > 3.5) { %> checked <% } %>"></span>
                                      <span class="fa fa-star <% if (favoriteRecipes[favoriteRecipeCount].rating > 4.5) { %> checked <% } %>"></span>
                                    </small>
                                  </p>
                                  <% } else { %>
                                    <p class="card-text text-muted">&nbsp;</p>
                                  <% } %>
                                  <div class="container small card-text text-muted pb-1">
                                          <%if(favoriteRecipes[favoriteRecipeCount].allergens.length > 0) { %>
                                          <p class="mb-1">
                                          <% var allergenLength = favoriteRecipes[favoriteRecipeCount].allergens.length %>
                                          <% for(i=0; i < allergenLength -1; i++) { %>
                                          <%= favoriteRecipes[favoriteRecipeCount].allergens[i] %> |
                                          <% } %>
                                          <%= favoriteRecipes[favoriteRecipeCount].allergens.pop() %>
                                          <% } else { %>
                                          <p class="mb-1"></p>

                                          <% } %>
                                          </p>
                                          <p class="m-0"><i class="far fa-clock"></i>&nbsp;<%= favoriteRecipes[favoriteRecipeCount].totalTime %> minutes</p>
                                      </div>
                                      <!--VIEW RECIPE BUTTON-->
                                      <form action="/recipes/<%= favoriteRecipes[favoriteRecipeCount]._id %>" method="GET">
                                        <button class="btn btn-outline-primary text-center btn-block recipe-view-button my-1">View</button>
                                      </form>
                                      <div class="row mt-2">
                                        <div class="col pull-left text-left">
                                          <a href="/foundUsers/<%=favoriteRecipes[favoriteRecipeCount].chef.id %>" class="card-text text-left text-muted small m-0">Chef: <%= favoriteRecipes[favoriteRecipeCount].chef.screenName%></a>
                                        </div>
                                        <div class="col pull-right">
                                          <p class="card-text text-right"><small class="text-muted">Posted: <%= moment(favoriteRecipes[favoriteRecipeCount].createdAt).format("M/D/YYYY") %></small></p>
                                        </div>
                                      </div>
                                    </div>
                                  </a>
                                  <!--END OF CARD BODY-->
                                </div>
                              </div>
                            </div>
                            <%  favoriteRecipeCount ++ %>
                              <% } %>
      </div>
                  <!--End of Card Deck--> 
                </div>
                <div class="tab-pane fade" id="recipes" role="tabpanel" aria-labelledby="recipes-tab">
                  <div class="card-deck">
                      <% var userRecipeCount = 0; %>
                      <% if(foundUser.recipes.length < 6) { %>
                         <% var userRecipesLength = foundUser.recipes.length  %>
                          <% var userRecipes = foundUser.recipes %>
                      <% } else { %>
                      <% var userRecipesLength = 6 %>
                      <% } %>
                          <% while((userRecipeCount < userRecipesLength)) { %>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-3 p-0 recipe-card">
                              <div class="card">
                                <div class="card-block">
                                  <div class="img-container">
                                    <a href="/recipes/<%= userRecipes[userRecipeCount].id%>">
                                      <div class="recipeBookButton text-center">
                                        <form action="/recipes/<%=userRecipes[userRecipeCount].id%>/love" method="POST">
                                              <button class="btn rounded-circle ajax-trigger-love like-btn-homepage" data-recipe-id="<%=userRecipes[userRecipeCount].id%>">
                                                  <i class="fas fa-heart"></i>
                                                </button>
                                        </form>
<!---->
                                      </div>
                                      <img class="img-fluid recipe-index-image" src="<%= userRecipes[userRecipeCount].image %>">
                                      <!--To Make Button Block-->
                                    </a>
                                  </div>

                                  <a href="/recipes/<%= userRecipes[userRecipeCount]._id%>">
                                    <div class="card-body text-center visibile-recipe-info p-1 mt-1">
                                      <h3 class="card-title mb-1">
                                        <%= userRecipes[userRecipeCount].title %>
                                      </h3>
                                  <% if (userRecipes[userRecipeCount].rating > 0) { %>
                                  <p class="card-text text-muted">
                                    <small>
                                      <span class="fa fa-star checked"></span>
                                      <span class="fa fa-star <% if (userRecipes[userRecipeCount].rating > 1.5) { %> checked <% } %>"></span>
                                      <span class="fa fa-star <% if (userRecipes[userRecipeCount].rating > 2.5) { %> checked <% } %>"></span>
                                      <span class="fa fa-star <% if (userRecipes[userRecipeCount].rating > 3.5) { %> checked <% } %>"></span>
                                      <span class="fa fa-star <% if (userRecipes[userRecipeCount].rating > 4.5) { %> checked <% } %>"></span>
                                    </small>
                                  </p>
                                  <% } else { %>
                                    <p class="card-text text-muted">&nbsp;</p>
                                  <% } %>
                                  <div class="container small card-text text-muted pb-1">
                                          <%if(userRecipes[userRecipeCount].allergens.length > 0) { %>
                                          <p class="mb-1">
                                          <% var allergenLength = userRecipes[userRecipeCount].allergens.length %>
                                          <% for(i=0; i < allergenLength -1; i++) { %>
                                          <%= userRecipes[userRecipeCount].allergens[i] %> |
                                          <% } %>
                                          <%= userRecipes[userRecipeCount].allergens.pop() %>
                                          <% } else { %>
                                          <p class="mb-1"></p>

                                          <% } %>
                                          </p>
                                          <p class="m-0"><i class="far fa-clock"></i>&nbsp;<%= userRecipes[userRecipeCount].totalTime %> minutes</p>
                                      </div>
                                      <!--VIEW RECIPE BUTTON-->
                                      <form action="/recipes/<%= userRecipes[userRecipeCount]._id %>" method="GET">
                                        <button class="btn btn-outline-primary text-center btn-block recipe-view-button my-1">View</button>
                                      </form>
                                      <div class="row mt-2">
                                        <div class="col pull-left text-left">
                                          <a href="/foundUsers/<%=userRecipes[userRecipeCount].chef.id %>" class="card-text text-left text-muted small m-0">Chef: <%= userRecipes[userRecipeCount].chef.screenName%></a>
                                        </div>
                                        <div class="col pull-right">
                                          <p class="card-text text-right"><small class="text-muted">Posted: <%= moment(userRecipes[userRecipeCount].createdAt).format("M/D/YYYY") %></small></p>
                                        </div>
                                      </div>
                                    </div>
                                  </a>
                                  <!--END OF CARD BODY-->
                                </div>
                              </div>
                            </div>
                            <%  userRecipeCount ++ %>
                              <% } %>
      </div>
                </div>
          
          <% if(currentUser && foundUser._id.equals(currentUser._id)){ %>
                <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">

            <form action="/users/<%= foundUser.id %>/update?_method=PUT" method="POST">
              <div class="container">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group text-dark"> <label>First Name</label>
                      <input type="text" name="firstName" class="form-control" value="<%= foundUser.firstName %>" minlength="1" maxlength="50" required>
                    </div>
                    <div class="form-group"> <label>Username</label>
                      <input type="text" name="screenName" class="form-control" value="<%= foundUser.screenName %>" minlength="4" maxlength="20" required>
                    </div>
                    <div class="form-group" required><label>Email address</label>
                      <input type="email" name="username" class="form-control" value="<%= foundUser.username %>" required>
                    </div>
                    <div class="form-group input-group mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="avatar">Choose Avatar</label>
                    </div>
                    <select class="custom-select" id="avatar" name="avatar" required>
                      <option selected>Choose...</option>
                      <option value="😛" <%= foundUser.avatar == "😛" ? "selected": "" %>>😛</option>
                      <option value="😎" <%= foundUser.avatar == "😎" ? "selected": "" %>>😎</option>
                      <option value="☕" <%= foundUser.avatar == "☕" ? "selected": "" %>>☕</option>
                      <option value="🌶" <%= foundUser.avatar == "🌶" ? "selected": "" %>>🌶</option>
                      <option value="🍍" <%= foundUser.avatar == "🍍" ? "selected": "" %>>🍍</option>
                      <option value="🍄" <%= foundUser.avatar == "🍄" ? "selected": "" %>>🍄</option>
                      <option value="🍲" <%= foundUser.avatar == "🍲" ? "selected": "" %>>🍲</option>
                      <option value="🍉" <%= foundUser.avatar == "🍉" ? "selected": "" %>>🍉</option>
                      <option value="🍜" <%= foundUser.avatar == "🍜" ? "selected": "" %>>🍜</option>
                      <option value="🍷" <%= foundUser.avatar == "🍷" ? "selected": "" %>>🍷</option>
                    </select>
                  </div>
                  </div>
                </div>
              </div>  
              <button type="submit" class="btn btn-secondary btn-block btn-lg my-2"><b>Save Changes</b></button>
            </form>
                  
                </div>
          <% } %>
              </div>
            </div>
        </div>
    </div>

<% include ../partials/footer %>