<% include ./partials/header %>
    <!--CURRENT RESULTS TEXT CONTAINER-->
    <div class="container-fluid py-3 px-0">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-primary font-weight-bold">
            <% if(pageTitle) { %>
              <%= pageTitle %>
            <% } else { %>
              Recent Recipes
            <% } %>
          </h2>
        </div>
      </div>
    </div>
    <!--End of Current Results Text Container-->
    <!--Main Container-->
    <div class="container-fluid p-0">
      <div class="card-deck" id="recentRecipesSection">
                      <% var latestRecipeCount = 0; %>
                      <% if(latestRecipes.length < 6) { %>
                         <% var latestRecipesLength = latestRecipes.length  %>
                      <% } else { %>
                      <% var latestRecipesLength = 6 %>
                      <% } %>
                          <% while((latestRecipeCount < latestRecipesLength)) { %>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-3 p-0 recipe-card">
                              <div class="card">
                                <div class="card-block">
                                  <div class="img-container">
                                    <a href="/recipes/<%= latestRecipes[latestRecipeCount].id%>">
                                      <div class="recipeBookButton text-center">
                                        <form action="/recipes/<%=latestRecipes[latestRecipeCount].id%>/love" method="POST">
                                              <button class="btn rounded-circle ajax-trigger-love like-btn-homepage" data-recipe-id="<%=latestRecipes[latestRecipeCount].id%>">
                                                  <i class="fas fa-heart"></i>
                                                </button>
                                        </form>
<!---->
                                      </div>
                                      <img class="img-fluid recipe-index-image" src="<%= latestRecipes[latestRecipeCount].image %>">
                                      <!--To Make Button Block-->
                                    </a>
                                  </div>

                                  <a href="/recipes/<%= latestRecipes[latestRecipeCount]._id%>">
                                    <div class="card-body text-center visibile-recipe-info p-1 mt-1">
                                      <h3 class="card-title mb-1">
                                        <%= latestRecipes[latestRecipeCount].title %>
                                      </h3>
                                  <% if (latestRecipes[latestRecipeCount].rating > 0) { %>
                                  <p class="card-text text-muted">
                                    <small>
                                      <span class="fa fa-star checked"></span>
                                      <span class="fa fa-star <% if (latestRecipes[latestRecipeCount].rating > 1.5) { %> checked <% } %>"></span>
                                      <span class="fa fa-star <% if (latestRecipes[latestRecipeCount].rating > 2.5) { %> checked <% } %>"></span>
                                      <span class="fa fa-star <% if (latestRecipes[latestRecipeCount].rating > 3.5) { %> checked <% } %>"></span>
                                      <span class="fa fa-star <% if (latestRecipes[latestRecipeCount].rating > 4.5) { %> checked <% } %>"></span>
                                    </small>
                                  </p>
                                  <% } else { %>
                                    <p class="card-text text-muted">&nbsp;</p>
                                  <% } %>
                                      <div class="container small card-text text-muted pb-1">
                                          <%if(latestRecipes[latestRecipeCount].allergens.length > 0) { %>
                                          <p class="mb-1">
                                          <% var allergenLength = latestRecipes[latestRecipeCount].allergens.length %>
                                          <% for(i=0; i < allergenLength -1; i++) { %>
                                          <%= latestRecipes[latestRecipeCount].allergens[i] %> |
                                          <% } %>
                                          <%= latestRecipes[latestRecipeCount].allergens.pop() %>
                                          <% } else { %>
                                          <p class="mb-1"></p>

                                          <% } %>
                                          </p>
                                          <p class="m-0"><i class="far fa-clock"></i>&nbsp;<%= latestRecipes[latestRecipeCount].totalTime %> minutes</p>
                                      </div>
                                      <!--VIEW RECIPE BUTTON-->
                                      <form action="/recipes/<%= latestRecipes[latestRecipeCount]._id %>" method="GET">
                                        <button class="btn btn-outline-primary text-center btn-block recipe-view-button my-1">View</button>
                                      </form>
                                      <div class="row mt-2">
                                        <div class="col pull-left text-left">
                                          <a href="/users/<%=latestRecipes[latestRecipeCount].chef.id %>" class="card-text text-left text-muted small m-0">Chef: <%= latestRecipes[latestRecipeCount].chef.screenName%></a>
                                        </div>
                                        <div class="col pull-right">
                                          <p class="card-text text-right"><small class="text-muted">Posted: <%= moment(latestRecipes[latestRecipeCount].createdAt).format("M/D/YYYY") %></small></p>
                                        </div>
                                      </div>
                                    </div>
                                  </a>
                                  <!--END OF CARD BODY-->
                                </div>
                              </div>
                            </div>
                            <%  latestRecipeCount ++ %>
                              <% } %>
      </div><!--End of Card Deck-->
<nav aria-label="Page navigation">
      <% if (pages && pages > 0) { %>
      <ul class="pagination justify-content-center">
          <% if (current == 1) { %>
          <li class="page-item disabled"><a class="page-link">First</a></li>
          <% } else { %>
          <li><a class="page-link" href="/<%= queryString %>">First</a></li>
          <% } %>

          <% if (current == 1) { %>
          <li class="page-item disabled"><a class="page-link">«</a></li>
          <% } else { %>
          <li><a class="page-link" href="/<%= queryString %>&page=<%= Number(current) - 1 %>">«</a></li>
          <% } %>

          <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
          <% if (i !== 1) { %>
          <li class="page-item disabled"><a class="page-link">...</a></li>
          <% } %>
          <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
          <% if (i == current) { %>
          <li class="active"><a class="page-link"><%= i %></a></li>
          <% } else { %>
          <li><a class="page-link" href="/<%= queryString %>&page=<%= i %>"><%= i %></a></li>
          <% } %>
          <% if (i == Number(current) + 4 && i < pages) { %>
          <li class="page-item disabled"><a class="page-link">...</a></li>
          <% } %>
          <% } %>

          <% if (current == pages) { %>
          <li class="page-item disabled"><a class="page-link">»</a></li>
          <% } else { %>
          <li><a class="page-link" href="/<%= queryString %>&page=<%= Number(current) + 1 %>">»</a></li>
          <% } %>

          <% if (current == pages) { %>
          <li class="page-item disabled"><a class="page-link">Last</a></li>
          <% } else { %>
          <li><a class="page-link" href="/<%= queryString %>&page=<%= pages %>">Last</a></li>
          <% } %>
      </ul>
      <% } %>
  </nav>      
</div>


  <% include ./partials/footer %>